* {
    box-sizing: border-box;
    transition: all 1s;
  }
  
  body {
    background: #253f58;
    color:white;
    font-family: Comfortaa, sans-serif;
    font-size: 16px;
    line-height: 150%;
    height: 100%;
    text-align: center;
    
  }
  
  .row {
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    z-index: 100;
  }
  
  .row#top {
    height: 10%;
    background: #d92139;
    padding: 1%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 90%;
    left: 0;
  }
  
  .row#bottom {
    height: 5%;
    position: absolute;
    top: 94%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .row .half {
    display: inline-block;
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
  }
  
  .row .half .content {
    margin: 8em 2em;
    padding: 2em 0;
  }
  
  .row .half#one .content {
    background: url("https://dl.dropboxusercontent.com/u/22307794/under-construction/desk.png") no-repeat center bottom;
    background-size: contain;
    height: 75%;
  }
  
  .row .half#two .content {
    max-width: 40em;
  }
  
  .floor {
    background: #aec33a;
    border-top: solid 1em #ffffff;
    z-index: 99;
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  /* text styling */
  
  .row#top h1 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .row .half .content h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 4em;
    font-weight: 300;
    letter-spacing: -0.07em;
    line-height: 1em;
    /*text-transform: uppercase;*/
    
    margin: 0;
  }
  
  .row#bottom h3 {
    font-size: 0.75em;
  }
 
  }
